@use "../../cache";

$text-base-lightest: #f0f0f0 !default;
$text-base-lighter: #dfe1e2 !default;
$text-base-light: #a9aeb1 !default;
$text-base: #71767a !default;
$text-base-dark: #565c65 !default;
$text-base-darker: #3d4551 !default;
$text-base-darkest: #1b1b1b !default;
$text-link: #1b1b1b !default;
$text-primary-lighter: #d9e8f6 !default;
$text-primary-light: #73b3e7 !default;
$text-primary: #005ea2 !default;
$text-primary-vivid: #0050d8 !default;
$text-primary-dark: #1a4480 !default;
$text-primary-darker: #162e51 !default;
$text-secondary-lighter: #f8dfe2 !default;
$text-secondary-light: #f2938c !default;
$text-secondary: #d83933 !default;
$text-secondary-vivid: #e41d3d !default;
$text-secondary-dark: #b50909 !default;
$text-secondary-darker: #8b0a03 !default;